/**
 * Styling for keyboard keys - as shown in keyboard shortcut modal
 */

.keyboard-key {
  background: #f3f3f3;
  border-radius: 3px;
  color: #212121;
  display: inline-block;
  font-weight: bold;
  min-width: .7em;
  padding: 2px 4px;
  text-align: center;
}
